.Layout{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background: black;
}

.Layout a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, serif;
}

.Layout .active{
    color: lightcoral;
}