.MoviesList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
    height: calc(100vh - 60px);
    overflow: auto;
}

.MoviesList .MoviesListResponse{
    width: 100vw;
    display: flex;
    justify-content: center;
}