.MoviesList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: calc(100vh - 60px);
    overflow: auto;
}

button{
    margin: 10px auto;
    padding: 10px;
}